.alert {
  min-width: 260px;
  display: flex;
  background-color: var(--bg-sky);
  margin: 20px auto;
  border: 5px solid var(--border-darksky);
  border-radius: 25px;
  /* padding: 25px 20px; */
  gap: 20px;
  max-height: 140px;
  position: relative;
  justify-content: left;
}

.alert svg {
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.img {
  width: 45%;
  max-width: 170px;
  height: 30%;
  min-height: 90px;
  max-height: 100px;
  border-radius: 25px;
  object-fit: cover;
  margin: 20px 0 20px 25px;
}

.txt {
  margin: 20px 25px 20px 0;
}

.txt span {
  font-family: var(--main-font);
  font-size: 1.25em;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 25px;
}

.txt p {
  font-family: var(--sub-font-medium);
  padding-top: 20px;
  font-size: 1em;
}
/* 
@media (max-width: 490px) {
  .txt span {
    font-size: 16px !important;
    width: 100px;
  }

  .txt p {
    font-size: 14px;
    margin-top: 10px;
  }

  .alert {
    gap: 20px;
  }
} */
