.main {
  margin: 25px 20px;
}

.notifications-wrap {
  margin: 0 auto;
  min-width: 320px;
  max-width: 787px;
  min-height: 650px;
}

.notifications-wrap h2 {
  font-family: var(--main-font);
  font-size: 20px;
  margin-bottom: 20px;
}

.btn {
  display: flex;
  gap: 10px;
  justify-content: right;
}

.btn button {
  width: 88px;
  height: 40px;
  background-color: var(--bg-sky);
  border-radius: 50px;
  font-family: var(--sub-font-medium);
  font-weight: 700;
  font-size: 14px;
}

.alert {
  display: flex;
  background-color: var(--bg-sky);
  margin: 20px auto;
  border: 5px solid var(--border-darksky);
  border-radius: 25px;
  /* padding: 25px 20px; */
  gap: 10%;
  max-height: 140px;
  position: relative;
  justify-content: center;
}

.alert svg {
  position: absolute;
  right: 30px;
  bottom: 20px;
}

.img {
  width: 45%;
  max-width: 170px;
  height: 25%;
  max-height: 100px;
  border-radius: 25px;
  object-fit: contain;
  margin: 20px 0 20px 25px;
}

.txt {
  margin: 20px 25px 20px 0;
}

.txt span {
  font-family: var(--main-font);
  font-size: 20px;
  width: 170px;
  height: 52px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 25px;
}

.txt p {
  font-family: var(--sub-font-medium);
  margin-top: 20px;
}

@media (max-width: 490px) {
  .txt span {
    font-size: 16px !important;
    width: 100px;
  }
}
