.loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 300px;
}

.loadingText {
  font-size: 1.125rem;
  font-weight: 600;
  color: #374151;
}

.main {
  /* position: fixed; */
  /* top: 70px; */
  /* left: 0;
  right: 0;
  bottom: 0; */
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: #fff;
  z-index: 0;
  height: calc(100vh - 60px);
}

.mainContent {
  flex: 1;
  display: flex;
  align-items: stretch;
  height: 100%;
  min-height: 0;
  overflow: hidden;
}
@media (min-width: 1024px) {
  .main {
    height: calc(100vh - 100px);
  }
}

/* Dark Mode */
@media (prefers-color-scheme: dark) {
  .loadingText {
    color: #e5e7eb;
  }

  .main {
    background-color: #1f2937;
  }
}
