.map-body {
  position: relative;
  width: 100%;
  height: 1084px;
  max-width: 1600px;
  margin: 0 auto;
}

.map {
  position: relative;
  width: 100%;
  min-width: 320px;
}

.metting-div {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-sky);
  width: 100%;
  max-width: 400px;
  min-height: 200px;
  border: 5px solid var(--border-darksky);
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.metting-information {
  display: flex;
  align-items: center;
}

.metting-information-img {
  width: 140px;
  height: 125px;
}

.detail-information {
  margin-left: 40px;
  font-size: 14px;

  h3 {
    margin-bottom: 25px;
    font-size: 20px;
    font-weight: bold;
  }
}

.filter-div {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  padding: 10px;
}

.metting-list {
  display: none;
}

@media (min-width: 1024px) {
  .filter-div {
    position: relative;
    max-width: 1470px;
    margin: 0 auto;
    padding-left: 10px;
  }

  .map-metting-div {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 2%;
    padding-left: 10px;
  }

  .metting-list {
    display: block;
    border: 5px solid var(--border-navy);
    border-radius: 25px;
    margin-right: 2%;
    padding: 10px;
    width: 100%;
    max-width: 400px;
    min-width: 300px;
    height: 500px;
    overflow-y: scroll;

    .search-bar {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 10px auto 15px;
      padding: 10px 15px;
      width: 100%;
      max-width: 350px;
      border: 3px solid var(--border-navy);
      border-radius: 50px;
      background: var(--bg-white);

      input {
        flex: 1;
        border: none;
        outline: none;
        font-size: 14px;
        font-family: var(--sub-font-medium);
        color: var(--text-navy);
        background: transparent;

        &::placeholder {
          color: var(--text-gray);
        }
      }

      svg {
        flex-shrink: 0;
        cursor: pointer;
      }
    }

    li {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-inline: auto;
      margin-block: 5px;
      padding-bottom: 10px;
      width: 100%;
      max-width: 350px;
      height: 90px;
      border-bottom: 3px solid var(--border-darksky);

      img {
        border-radius: 25px;
        margin-right: 3%;
      }

      dt {
        font-size: 16px;
        font-family: var(--main-font);
        margin-bottom: 5%;
      }

      dd {
        font-size: 12px;
        font-family: var(--sub-font-medium);
        color: var(--text-gray);
      }
    }
  }

  .map {
    border: 5px solid var(--border-navy);
    border-radius: 25px;
    max-width: 1024px;
  }
}
