.mobile-banner {
  width: 100vw;
}
.search-ai-wrapper {
  display: flex;
  flex-direction: row;
  margin: 25px 20px;
  gap: 20px;
  justify-content: center;
  align-items: center;

  .search-bar-wrapper {
    border: 2px solid var(--border-navy);
    border-radius: 50px;
    height: 48px;
    width: calc(100% - 50px);

    .search-image {
      background: #000;
    }
  }

  .ai-recommend {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    font-family: var(--sub-font-medium);
    font-size: 16px;
    color: var(--text-lavender);
    border: 2px solid var(--border-navy);
    border-radius: 50%;
    width: 50px;
    aspect-ratio: 1 / 1;
    white-space: nowrap;

    flex-shrink: 0;
  }
}
.search-image {
  position: relative;
  right: 0;
  top: 0;
}
