.swiper {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding-bottom: 30px;
  overflow: hidden;

  :global(.swiper-pagination-bullet) {
    background: var(--border-darksky);
    opacity: 1;
  }

  :global(.swiper-pagination-bullet-active) {
    background: var(--bg-navy);
  }
}

.card {
  position: relative;
  width: 413px;
  height: 225px;
  background-color: var(--bg-sky);
  border: 5px solid var(--border-darksky);
  border-radius: 25px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  align-items: center;
}

.cardContent {
  display: flex;
  align-items: center;
}

.imageWrapper {
  width: 130px;
  height: 130px;
  margin-right: 20px;
  flex-shrink: 0;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}

.characterImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.infoWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cardTitle {
  font-family: var(--main-font);
  font-size: 20px;
  color: var(--text-black);
  line-height: 1.4;
  margin-right: 20px;
  text-align: left;
}

.infoList {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.infoItem {
  font-family: var(--sub-font-medium);
  color: var(--text-black);
  display: flex;
  align-items: center;
  gap: 4px;
}

.infoItem p {
  font-size: 12px;
}

.arrowIcon {
  position: absolute;
  right: 20px;
  bottom: 20px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.arrowIcon:hover {
  transform: translateX(4px);
}
